@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div class="content-wrapper">
    <div class="d-flex justify-content-center">
        <div class="card mt-3 m-2">
            <div class="card-body">
                <div class="container mb-5 mt-3" style="width: 28rem;">
                    <div class="d-flex justify-content-around align-items-center">
                        <img src="https://s3.eu-central-1.amazonaws.com/static.obilet.com/images/partner/330-sm.png" width="180px" height="60px" alt="Metro Turizm">
                        <div class="text-center align-middle">
                            <p class="text-lg">Metro Turizm</p>
                        </div>
                      
                    </div>
                    <hr />
                    <div class="intro-table">
                        <table>
                            <tbody>
                                <tr>
                                    <th>Kalkış</th>
                                    <th>Varış</th>
                                </tr>
                                <tr>
                                    <td>Alibeyköy Otogarı</td>
                                    <td>Ankara (Aşti) Otogarı</td>
                                </tr>
                                <tr>
                                    <th>Hareket Zamanı</th>
                                    <th>Koltuk</th>
                                </tr>
                                <tr>
                                    <td>4 Mart Pazartesi 00:05</td>
                                    <td>
                                        <div class="seats">  28  </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <hr />
                                    </td>
                                </tr>
                                <tr> 
                                    <th colspan="2"> Bilet İşlemleri </th> </tr>
                                <tr>
                                    <td colspan="2">
                                        Seferin 6 saat öncesine kadar biletinizi iptal edebilir ve değiştirebilirsiniz. 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3 m-2">
            <div class="card-body">
                <div class="container mb-5 mt-3" style="width: 30rem;">
                    <p class="text-lg">İletişim Bilgileri</p>
                    <div class="intro-table">
                        <table>
                            <tbody>
                                <tr>
                                    <th>Kalkış</th>
                                    <th>Varış</th>
                                </tr>
                                <tr>
                                    <td>Alibeyköy Otogarı</td>
                                    <td>Ankara (Aşti) Otogarı</td>
                                </tr>
                                <tr>
                                    <th>Hareket Zamanı</th>
                                    <th>Koltuk</th>
                                </tr>
                                <tr>
                                    <td>4 Mart Pazartesi 00:05</td>
                                    <td>
                                        <div class="seats">  28  </div>
                                    </td>
                                </tr>
                                <tr> <th colspan="2"> Bilet İşlemleri </th> </tr>
                                <tr>
                                    <td colspan="2">
                                        Seferin 6 saat öncesine kadar biletinizi iptal edebilir ve değiştirebilirsiniz. Biletiniz açığa alınamaz.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3 m-2">
            <div class="card-body">
                <div class="container mb-5 mt-3" style="width: 30rem;">
                    <img src="https://s3.eu-central-1.amazonaws.com/static.obilet.com/images/partner/330-sm.png" alt="Metro Turizm">
                    <div class="partner-name">
                        <p>Metro Turizm</p>
                    </div>
                    <div class="intro-table">
                        <table>
                            <tbody>
                                <tr>
                                    <th>Kalkış</th>
                                    <th>Varış</th>
                                </tr>
                                <tr>
                                    <td>Alibeyköy Otogarı</td>
                                    <td>Ankara (Aşti) Otogarı</td>
                                </tr>
                                <tr>
                                    <th>Hareket Zamanı</th>
                                    <th>Koltuk</th>
                                </tr>
                                <tr>
                                    <td>4 Mart Pazartesi 00:05</td>
                                    <td>
                                        <div class="seats">  28  </div>
                                    </td>
                                </tr>
                                <tr> <th colspan="2"> Bilet İşlemleri </th> </tr>
                                <tr>
                                    <td colspan="2">
                                        Seferin 6 saat öncesine kadar biletinizi iptal edebilir ve değiştirebilirsiniz. Biletiniz açığa alınamaz.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
