

@model List<Seat>

<div class="form-group">
    <select class="form-control" id="seatNumberInput" required>
        <option value="">Koltuk Seçin</option>
        @foreach (var seatNumber in Model)
        {
            if (seatNumber.IsAvailable)
            {
                <option value="@seatNumber.SeatNumber">@seatNumber.SeatNumber</option>
            }
        }
    </select>
</div>