﻿

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/Admin/Dashboard/Index" class="brand-link">
        <img src="~/AdminLTE-3.2.0/dist/img/OtBilet.png"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text text-center font-weight-light">OtBilet Panel</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fi fi-sr-apps"></i> &ensp;
                        <p>
                            Siteye Git
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="SearchDestination" class="nav-link">
                        <i class="fi fi-sr-home"></i> &ensp;
                        <p>
                            Sefer Ara
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="Destination/CreateDestination" class="nav-link">
                        <i class="fi fi-sr-globe"></i>&ensp;
                        <p>
                            Sefer Ekle
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fi fi-sr-calendar-clock"></i>&ensp;
                        <p>
                            Seferler
                            <i class="right fas fa-angle-down"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="/Admin/Reservation/Index" class="nav-link">
                                <i class="far fas fa-angle-right nav-icon"></i>
                                <p>Seferi Görüntüle</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Reservation/AcceptedReservation" class="nav-link">
                                <i class="far fas fa-angle-right nav-icon"></i>
                                <p>Sefer Ekle</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Reservation/OldReservation" class="nav-link">
                                <i class="far fas fa-angle-right nav-icon"></i>
                                <p>Geçmiş Seferleri Görüntüle</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Comment/Index" class="nav-link">
                        <i class="fi fi-sr-comments"></i> &ensp;
                        <p>
                            Bilet
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/User/Index" class="nav-link">
                        <i class="fi fi-sr-hr-group"></i> &ensp;
                        <p>
                            Yolcular
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Excel/Index" class="nav-link">
                        <i class="fi fi-sr-file"></i>&ensp;
                        <p>
                            Raporlar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Login/LogOut" class="nav-link">
                        <i class="fi fi-sr-sign-out-alt"></i>&ensp;
                        <p>
                            Çıkış
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>